body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

.result {
    display: none;
}

.code-container {
    position: relative;
    background-color: #2d2d2d;
    border: 1px solid #444;
    padding: 15px;
    border-radius: 8px;
    font-family: "Courier New", Courier, monospace;
    /* color: #f8f8f2; */
    overflow-x: auto;
}

.copy-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.copy-btn:hover {
    background-color: #0056b3;
}

.copied {
    background-color: #28a745;
}
